#container3d canvas {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}
main {
  position: absolute;
  width: 400px;
  height: 100%;
  background-color: white;
  opacity: 0.7;
  color: black;
  overflow: auto;
  font-family: Poppins, sans-serif;
  white-space: pre-line;
}
.content {
  display: block;
  transition: width 2s, opacity 2s;
  white-space: pre-wrap;
}
.container {
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
  color: white;
  list-style-type: none;
  vertical-align: middle;
  align-items: baseline;
}
.li {
  border-style: solid;
  display: flex;
  text-decoration: none;
  color: black;
  font-family: Arial, sans-serif;
  font-size: 15pt;
  border-width: 0px;
  border-color: transparent;
  width: 125px;
  height: 40px;
  opacity: 0.7;
  vertical-align: middle;
  padding: 5px;
  margin: 5px;
  border-radius: 0px;
  transition: border-color 1s ease, border-width 1s ease, border-radius 1s ease,
    width 1s ease, opacity 1s ease;
}
.li:hover {
  opacity: 1;
  width: 150px;
  border-width: 1px;
  border-color: black;
  border-radius: 30px;
}
